﻿@model  ATTSystems.Core.Model.ViewModel.ChangePasswordViewModel
@*@{
        ViewBag.Title = "Change Password";
    }*@

<h2>Change Account Password</h2>
@*<p class="text-success">@ViewBag.StatusMessage</p>

    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { role = "form" }))
    {
        @Html.AntiForgeryToken()
        <hr />
        @Html.ValidationSummary(true)

        <div class="row clearfix">

            <div class="col-md-4">

                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Old Password<span class="spanRequired">*</span></label>
                        @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">New Password<span class="spanRequired">*</span></label>
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group form-float">
                    <div class="form-line">
                        <label class="form-label">Confirm Password<span class="spanRequired">*</span></label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="row clearfix js-sweetalert divModalFooterButton">
                    <div class="col-md-4">
                        <input type="submit" value="Change password" class="btn bg-blue waves-effect" />
                    </div>
                </div>
            </div>

        </div>
    }*@



