﻿@model  ATTSystems.Core.Model.ViewModel.ChangePasswordViewModel
@{
    ViewBag.Title = "RequestChangeKeycode";
    Layout = null;
}

<div class="clearfix" style=" padding: 10px 20px;">
    <h4>Reset Password</h4>
    <br />
    <div class="col-lg-5">

        @using (Ajax.BeginForm("ChangePassword", "Manage", new AjaxOptions
        {
            HttpMethod = "POST",
            OnSuccess = "SuccessChange",
            OnFailure = "FailChange",
            InsertionMode = InsertionMode.Replace,
            AllowCache = false
        }, new { @id = "form_validation", @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-group form-float" style="padding-top: 10px;">
                <table>
                    <tr>
                        <td style="width: 250px;">
                            <div class="form-line">
                                <label class="form-label">Old Password<span class="spanRequired">*</span></label>
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td>
                            <img id="oldKey" src="~/Images/pass_eye.png" style="width: 25px; cursor: pointer; padding-left: 10px;" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group form-float" style="padding-top: 10px;">
                <table>
                    <tr>
                        <td style="width: 250px;">
                            <div class="form-line">
                                <label class="form-label">New Password<span class="spanRequired">*</span></label>
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td>
                            <img id="newKey" src="~/Images/pass_eye.png" style="width: 25px; cursor: pointer; padding-left: 10px;" />
                        </td>
                    </tr>
                </table>
            </div>
            <div class="form-group form-float" style="padding-top: 10px;">
                <table>
                    <tr>
                        <td style="width: 250px;">
                            <div class="form-line">
                                <label class="form-label">Confirm Password<span class="spanRequired">*</span></label>
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </td>
                        <td>
                            <img id="confirmKey" src="~/Images/pass_eye.png" style="width: 25px; cursor: pointer; padding-left: 10px;" />
                        </td>
                    </tr>
                </table>
            </div>

            <div class="row clearfix js-sweetalert divModalFooterButton" style="padding-top: 20px;">
                <div class="col-md-4">
                    <input type="button" id="btnSubmit" value="Change password" class="btn bg-blue waves-effect" />
                </div>
            </div>


        }

    </div>





</div>
<div class="clearfix" style="padding-top: 20px; padding-left: 20px;">
    @Html.ValidationSummary(true, "", new { @style = "color: red" })
    <span id="msgResult" class="spanRequired"></span>
    <span id="msgPass" style="color: blue;"></span>
</div>

<br /><br />
<div class="clearfix">
    <div class="col-md-8" style="font-size:14px; color: magenta; font-family:Arial,Helvetica,sans-serif;">
        <p>
            Minimum eight (8) characters.<br />
            Must Contain at least one (1) character from three (3) of the following categories:<br />
            - Uppercase letter (A-Z)<br />
            - Lowercase letter (a-z)<br />
            - Digit (0-9)<br />
            - Special Character (&#64;~`!#$%^&*()+=_-{}[]\|:;”’?/<>,.)<br />

        </p>

    </div>
</div>
<script type="text/javascript">

    $("#newKey").mousedown(function () {
        var x = document.getElementById("NewPassword");
        x.type = "text";
        $("#msgResult").text("");
    });


    $("#newKey").mouseup(function () {
        var x = document.getElementById("NewPassword");
        x.type = "password";
        $("#msgResult").text("");
    });

    $("#confirmKey").mousedown(function () {

        var x = document.getElementById("ConfirmPassword");
        x.type = "text";
        $("#msgResult").text("");
    });
    $("#confirmKey").mouseup(function () {
        var x = document.getElementById("ConfirmPassword");
        x.type = "password";
        $("#msgResult").text("");
    });

    $("#oldKey").mousedown(function () {

        var x = document.getElementById("OldPassword");
        x.type = "text";
        $("#msgResult").text("");
    });
    $("#oldKey").mouseup(function () {
        var x = document.getElementById("OldPassword");
        x.type = "password";
        $("#msgResult").text("");
    });

    $("#btnSubmit").click(function () {
        $('#btnSubmit').attr("disabled", true);
        $('#btnSubmit').submit();
    });

    function SuccessChange(e) {
        if (e != null && e.Code != null) {
            if (e.Code == 200) {

                $("#msgPass").text("Change success");
                $('#btnSubmit').attr("disabled", true);
                setTimeout(function () { RedirectToSuccessPage(); }, 1000);
            }
            else {
                var msg = "Failed to reset password ";
                if (e.Message != null) {
                    msg += e.Message;
                }
                $('#btnSubmit').attr("disabled", false);
                $("#msgResult").text(msg);
            }
        }
        else {
            // something not right - procees to logout
            $('#logoutForm').submit();
        }
    }

    function FailChange(e) {
        $("#msgResult").text("");
        $('#btnSubmit').attr("disabled", false);
    }

    function RedirectToSuccessPage() {

        $('#logoutForm').submit();
    }
</script>





