﻿@model ATTSystems.Core.Model.ViewModel.UserViewModel

<link href="@Url.Content("~/Content/bootstrap-multiselect.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/bootstrap-multiselect.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src='@Url.Content("~/Scripts/admin.js")'></script>

<div class="modal fade" id="addUserModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add User</h4>
            </div>
            @using (Ajax.BeginForm("CreateUserAdmin", "Setting", new AjaxOptions
            {
                HttpMethod = "POST",
                //UpdateTargetId = "PartialView",
                OnSuccess = "SuccessCreate",
                OnFailure = "FailCreate",
                //LoadingElementId = "loaderSection",
                InsertionMode = InsertionMode.Replace,
                AllowCache = false
            }, new { @id = "form_validation" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">User Name <span class="spanRequired">*</span></label>
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Password <span class="spanRequired">*</span></label>
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Confirm Password <span class="spanRequired">*</span></label>
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Email </label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group p-t-5">
                                <label class="form-label">Role<span class="spanRequired">*</span></label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <select id="roleSelect" class="multiselect-ui form-control" multiple="multiple" name="multirole">
                                            @foreach (var role in Model.RoleList)
                                            {
                                                <option value="@role.Id">@role.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group p-t-5">
                                <label class="form-label">Department<span class="spanRequired">*</span></label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <select id="deptSelect" class="multiselect-ui form-control" multiple="multiple" name="multidept">
                                            @foreach (var dept in Model.DepartmentList)
                                            {
                                                <option value="@dept.Department_ID">@dept.Department_Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row clearfix js-sweetalert divModalFooterButton">
                        <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                        <button type="submit" class="btn bg-blue waves-effect" id="btnSave">SAVE</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        $('#roleSelect').multiselect({
            includeSelectAllOption: true
        });

        $('#deptSelect').multiselect({
            includeSelectAllOption: true
        });


        //$('#UserRole').on('change', function () {
        //    //$('#e2 option').prop('selected', true);
        //    var selectedRoleName = $("#UserRole option:selected").text();
        //    if (selectedRoleName == "Admin") {
        //        $("#e2").multiselect('selectAll', false);
        //        $("#e2").multiselect('updateButtonText');
        //    }
        //    else {
        //        $('option', $('#e2')).each(function (element) {
        //            $(this).removeAttr('selected').prop('selected', false);
        //        });
        //        $("#e2").multiselect('refresh');
        //    }
        //});

        $(function () {
            $('.list-group.checked-list-box .list-group-item').each(function () {

                // Settings
                var $widget = $(this),
                    $checkbox = $('<input type="checkbox" class="hidden" />'),
                    color = ($widget.data('color') ? $widget.data('color') : "primary"),
                    style = ($widget.data('style') == "button" ? "btn-" : "list-group-item-"),
                    settings = {
                        on: {
                            icon: 'glyphicon glyphicon-check'
                        },
                        off: {
                            icon: 'glyphicon glyphicon-unchecked'
                        }
                    };

                $widget.css('cursor', 'pointer')
                $widget.append($checkbox);

                // Event Handlers
                $widget.on('click', function () {
                    $checkbox.prop('checked', !$checkbox.is(':checked'));
                    $checkbox.triggerHandler('change');
                    updateDisplay();
                });
                $checkbox.on('change', function () {
                    updateDisplay();
                });
                // Actions
                function updateDisplay() {
                    var isChecked = $checkbox.is(':checked');

                    // Set the button's state
                    $widget.data('state', (isChecked) ? "on" : "off");

                    // Set the button's icon
                    $widget.find('.state-icon')
                        .removeClass()
                        .addClass('state-icon ' + settings[$widget.data('state')].icon);

                    // Update the button's color
                    if (isChecked) {
                        $widget.addClass(style + color + ' active');
                    } else {
                        $widget.removeClass(style + color + ' active');
                    }
                }

                // Initialization
                function init() {

                    if ($widget.data('checked') == true) {
                        $checkbox.prop('checked', !$checkbox.is(':checked'));
                    }

                    updateDisplay();

                    // Inject the icon if applicable
                    if ($widget.find('.state-icon').length == 0) {
                        $widget.prepend('<span class="state-icon ' + settings[$widget.data('state')].icon + '"></span>');
                    }
                }
                init();
            });

            $('#get-checked-data').on('click', function (event) {
                event.preventDefault();
                var checkedItems = {}, counter = 0;
                $("#check-list-box li.active").each(function (idx, li) {
                    checkedItems[counter] = $(li).text();
                    counter++;
                });
                $('#display-json').html(JSON.stringify(checkedItems, null, '\t'));
            });
        });
    });


</script>


