﻿
@model ATTSystems.Core.Model.ViewModel.UserViewModel

<link href="@Url.Content("~/Content/bootstrap-multiselect.css")" rel="stylesheet" type="text/css" />
<script src="@Url.Content("~/Scripts/bootstrap-multiselect.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src='@Url.Content("~/Scripts/admin.js")'></script>

<div class="modal fade" id="editUserModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit User</h4>
            </div>

            @using (Ajax.BeginForm("EditUserAdmin", "Setting", new AjaxOptions
            {
                HttpMethod = "POST",
                //UpdateTargetId = "PartialView",
                OnSuccess = "SuccessCreate",
                OnFailure = "FailCreate",
                //LoadingElementId = "loaderSection",
                InsertionMode = InsertionMode.Replace,
                AllowCache = false
            },
            new { @id = "form_validation" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                @Html.HiddenFor(model => model.Password)
                @Html.HiddenFor(model => model.ConfirmPassword)

                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">User Name <span class="spanRequired">*</span></label>
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Email </label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group p-t-5">
                                <label class="form-label">Role<span class="spanRequired">*</span></label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <select id="roleSelect" multiple="multiple" name="multirole" class="multiselect-ui form-control">
                                            @foreach (var role in Model.RoleList)
                                            {
                                                if (role.IsSelected)
                                                {
                                                    <option selected="selected" value="@role.Id">@role.Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@role.Id">@role.Name</option>
                                                }

                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group p-t-5">
                                <label class="form-label">Department<span class="spanRequired">*</span></label>
                                <div class="row">
                                    <div class="col-md-12">
                                        <select id="deptSelect" multiple="multiple" name="multidept" class="multiselect-ui form-control">
                                            @foreach (var dept in Model.DepartmentList)
                                            {
                                                if (dept.IsSelected)
                                                {
                                                    <option selected="selected" value="@dept.Department_ID">@dept.Department_Name</option>
                                                }
                                                else
                                                {
                                                    <option value="@dept.Department_ID">@dept.Department_Name</option>
                                                }

                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row clearfix js-sweetalert divModalFooterButton">
                        <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                        <button type="submit" class="btn bg-blue waves-effect" id="btnSave">UPDATE</button>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<script>
    $(function () {

        $('#roleSelect').multiselect({
            includeSelectAllOption: true
        });
        $('#deptSelect').multiselect({
            includeSelectAllOption: true
        });

        //add foues class script
        $('.form-line').addClass("focused");
    });

</script>
