﻿@model ATTSystems.Core.Model.ViewModel.RoleViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src='@Url.Content("~/Scripts/admin.js")'></script>

<div class="modal fade" id="editRoleModal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Role</h4>
            </div>

            @using (Ajax.BeginForm("EditRoleAdmin", "Setting", new AjaxOptions
            {
                HttpMethod = "POST",
                //UpdateTargetId = "PartialView",
                OnSuccess = "SuccessCreate",
                OnFailure = "FailCreate",
                //LoadingElementId = "loaderSection",
                InsertionMode = InsertionMode.Replace,
                AllowCache = false
            }, new { @id = "form_validation" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)
                <div class="modal-body">
                    <div class="row clearfix">
                        <div class="col-sm-12">

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Role Name <span class="spanRequired">*</span></label>
                                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @data_val = "true", required = "required" })
                                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Description </label>
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <label class="form-label">Permission </label>

                            <div class="row">
                                <div class="col-md-12">
                                    @foreach (var item in Model.ModuleList)
                                    {
                                        <div class="col-md-4">
                                            <input type="checkbox" name="SelectedRoles" value="@item.Id" checked="@item.IsSelected" class="checkbox-inline" />
                                            @item.ModuleName
                                        </div>
                                    }
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="row clearfix js-sweetalert divModalFooterButton">
                        <button type="button" class="btn bg-grey waves-effect" data-dismiss="modal">CLOSE</button>
                        <button type="submit" class="btn bg-blue waves-effect" id="btnSave">SAVE</button>
                    </div>
                </div>
            }



        </div>
    </div>
</div>

<script>
    $(function () {
        //add foues class script
        $('.form-line').addClass("focused");
        /* Check Permission */
        $('#form_validation').on('submit', function () {

         var userName = $('#Name').val();
            var flag = false;
            if (userName != '')
            {
                $(".checkbox-inline").each(function () {
                    if ($(this).prop('checked') == true) {
                        flag = true;
                    }
                });
                if (flag)
                {
                    $(this).submit();
                }
                else
                {
                    swal("Warning", "Please select at least one module.", "error");
                    return false;
                }
            }

        });
    });

</script>