﻿@model ATTSystems.Core.Model.ViewModel.DepartmentViewModel

<script src="@Url.Content("~/Scripts/jquery.validate.js")"></script>
<script src='@Url.Content("~/Scripts/admin.js")'></script>

<div class="modal fade" id="editDepartmentModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Department</h4>
            </div>

            @using (Ajax.BeginForm("EditDepartment", "Setting", new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "SuccessCreate", // refer to ListDepartment.cshtml SuccessCreate()
                OnFailure = "FailCreate", // refer yo ListDepartment.cshtml FailCreate()
                InsertionMode = InsertionMode.Replace,
                AllowCache = false
            }, new { @id = "form_validation" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Department_ID)
                <div class="modal-body">

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Department Name <span class="spanRequired">*</span><span id="Department_Name" class="spanRequired"></span></label>
                                    @Html.TextBoxFor(model => model.Department_Name, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Department_Name, "", new { @class = "text-danger", })
                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <label class="form-label">Description <span id="Description" class="spanRequired"></span></label>
                                    @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn .bg-grey" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-blue" id="btnSave">SAVE</button>
                </div>
            }
        </div>
    </div>
</div>

<script>
    $(function () {
        //add foues class script
        $('.form-line').addClass("focused");
    });

</script>
