﻿@model IEnumerable<ATTSystems.Core.Model.ViewModel.RoleViewModel>
@{
    ViewBag.Title = "ListRole";
    Layout = null;
}

<div class="row">
    <div class="col-lg-6">
        <h4 style="padding-left: 10px; padding-top: 10px;">Role Listing</h4>
    </div>
    <div class="col-lg-6">
        <div class="align-right" style="padding-right: 10px; padding-top: 10px;">
            <button type="button" data-toggle="modal" data-target="#myModal" id="btnAdd"
                    class="btn bg-blue btn-circle waves-effect waves-circle waves-float btnAdd" value="Add" title="Add">
                <i class="material-icons">&#xE145;</i>
            </button>
        </div>
    </div>
</div>
        <div class="body">
            <table class="table table-bordered table-striped table-hover js-basic-example dataTable customTbl">
                <thead>
                    <tr>
                        <th>
                            Role
                        </th>
                        <th>
                            Description
                        </th>
                        <th>
                            Permission
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr id="row@(item.Id)">

                            <td id="col_Role_Name">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td id="col_Description">
                                <span title="@Html.DisplayFor(modelItem => item.Description)">@Html.DisplayFor(modelItem => item.Description)</span>
                            </td>
                            <td id="col_Permission">
                                <span title="@Html.DisplayFor(modelItem => item.AllowPermission)">@Html.DisplayFor(modelItem => item.AllowPermission)</span>
                            </td>
                            <td align="center">
                                <a href="#" data-id="@item.Id" class="lnkEdit" title="Edit" data-para="@item.Id"><i class="material-icons">mode_edit</i></a>
                                <a href="#" data-id="@item.Id" class="lnkDelete" title="Delete" data-para="@item.Id"><i class="material-icons">delete</i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- Modal Area -->
        <div id="modalDiv">
        </div>

        <script src='@Url.Content("~/Scripts/jquery-datatable.js")'></script>
        <script src='@Url.Content("~/Scripts/jquery.dataTables.js")'></script>
        <script src='@Url.Content("~/Scripts/dataTables.bootstrap.js")'></script>

        <script type="text/javascript">
    $(function () {
        /* Add Method Here */
        $('#btnAdd').click(function () {
            $('.btnAdd').attr('disabled', true);
            setTimeout(function () {
                $('.btnAdd').attr('disabled', false);
            }, 4000);
            var relativeURI = "@Url.Action("CreateRoleModal", "Setting")";
            RenderPartialView(relativeURI, "#addRoleModal");
        });

        /* Delete Method Here */
        $('.customTbl').on('click', '.lnkDelete', function () {
            var _rowid = $(this).attr('data-para');
            deleteDialog("Setting", "DeleteRole", [_rowid]);
        });

                /* Edit Method Here */
        $('.customTbl').on('click', '.lnkEdit', function () {
            /* Disable link for 4 seconds */

            $('.lnkEdit').addClass('tmpEdit');
            $('.tmpEdit').removeClass('lnkEdit');
            setTimeout(function () {
                $('.tmpEdit').addClass('lnkEdit');
                $('.lnkEdit').removeClass('tmpEdit');
            }, 3000);
            /* End of disable link for 4 seconds */
            var _msgId = $(this).attr('data-para');

            if (_msgId != "") {
                var relativeURI = "@Url.Action("EditRoleModal", "Setting", new { id = "_para1" })".replace("_para1", _msgId);
                RenderPartialView(relativeURI, "#editRoleModal");
            }
        });
    });

    //script with partial render
    function RenderPartialView(relativeURI, modalType) {
        $.ajax({
            url: relativeURI,
            type: "Get",
            cache: false,
            success: function (data) {
                //custom showing popup
                $("#modalDiv").html("");
                $("#modalDiv").html(data);
                $(modalType).modal('show');
            },
            error: function (data) {
                swal("Warning", data.statusText, "error");
            }

        });
    }

    var prevErr = [];
    function SuccessCreate(e) {
        var msg = e.Message;
        var isDelete = false;
        var isUpdate = false;

        if (e.Code == 200) { // ok
            if (e.ModalType == "Add") {
                $('#addRoleModal').modal('hide');
            }
            else if (e.ModalType == "Delete") {
                isDelete = true;
            }
            else {
                $('#editRoleModal').modal('hide');
            }

            showDialog(msg, e.ModalType + " Role", "success", "Setting", "ListRole", 0, isUpdate, isDelete);
        }
        else { // ==> validation error

            if (e.Code == 201 && e.ModalType != "Delete") {
                // clear previous error message
                if (prevErr.length > 0) {
                    for (i = 0; i < prevErr.length; i++) {
                        $(prevErr[0]).html("");
                    }
                }

                // process error message
                prevErr = [];
                var errTok = e.Message.split("|");

                for (i = 0; i < errTok.length; i++) {
                    var tok = errTok[i].split(":");

                    prevErr.push('#' + tok[0])
                    $('#' + tok[0]).html(tok[1]);
                }
            }

            showDialog(msg, e.ModalType + " Role", "error", "Setting", "ListRole", 0, false, false);
        }
    }

    function FailCreate(e) {
        showDialog(e.statusText, "Role", "error", "", "", 0, false, false);
    }
        </script>
