﻿
@model ATTSystems.ProjectCore.Model.ViewModel.DashboardViewModel

@{
    ViewBag.Title = "Dashboard";
    Layout = null;
}

<div class="row">
    <div class="col-lg-6">
        <h4 style="padding-left: 10px; padding-top: 10px;">Dashboard</h4>
    </div>
    <div class="col-lg-6">
    </div>
</div>

