﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Error</title>
    <script src="@Url.Content("~/Scripts/jquery-3.3.1.min.js")"></script>
    <style type="text/css">
        .pFont {
            margin-left: 10px;
            margin-top: 20px;
            font-size: 14px;
            font-weight: normal;
            color: #000000;
        }

        h2 {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <hgroup>
        <h2>Error.</h2>

        <p class="pFont">An error occurred while processing your request.</p>
        <p class="pFont">Click <a href="/Auth/Login">here</a> to continue.</p>
    </hgroup>

    <script type="text/javascript">
        $(function () {
            setInterval(function () { GoHome() }, 10000);
        });

        function GoHome()
        {
            var relativeURI = "@Url.Action("Auth", "Login")";
            window.location = relativeURI;

        }
    </script>
</body>
</html>

