﻿<script src='@Url.Content("~/Scripts/jquery-3.3.1.min.js")'></script>
@{
    Layout = null;
}
<h4>Expired</h4>
@using (Html.BeginForm("Logoff", "Auth", FormMethod.Post, new { id = "logoutForm" }))
{
}
<script>
    $('#logoutForm').submit()
</script>
