﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Error</title>
    <script src="@Url.Content("~/Scripts/jquery-3.2.1.min.js")"></script>
    <style type="text/css">
        .pFont {
            margin-left: 10px;
            margin-top: 20px;
            font-size: 14px;
            font-weight: normal;
            color: #000000;
        }

        h2 {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <h2>Error.</h2>

    <p class="pFont">An error occurred while processing your request.</p>
    <p class="pFont">@ViewBag.Error</p>

</body>
</html>