﻿@using ATTSystems.Core.Model.ViewModel
@model LoginViewModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Welcome to ATTSystems</title>
    <link href='@Url.Content("~/Content/Site.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/customizeStyle.css")' rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/Scripts/jquery-3.3.1.min.js")'></script>
    <script src='@Url.Content("~/Scripts/modernizr-2.8.3.js")'></script>
    <style>

        .div_img_overlay {
            height: 350px;
            background-image: url('@Url.Content("~/Images/main.jpg")' ), url('~/../../Images/main.jpg');
            /*background-image: url('~/../../Images/main.jpg');*/
            background-repeat: no-repeat;
            background-size: cover;
            /*background-position:right;*/
        }

        .footer_loc {
            position: absolute;
            border-top: 1px solid #0C5AAB;
            bottom: 0;
            width: 100%;
            height: 60px; /* Height of the footer */
            color: #337ab7;
            font-size: 12px;
        }
    </style>
</head>
<body style="padding-top: 5px;">
    <div class="clearfix">
        <div class="col-md-12">
            <img src='@Url.Content("~/Images/logo.png")' alt="ATTSystems Logo" />
        </div>
    </div>

    <div class="clearfix" style="background-color: #0C5AAB; height:22px;"></div>

    <div class="clearfix" style="text-align: center; padding: 10px 20px;">
        <h3>ATT SYSTEMS - Project Management System</h3>
    </div>

    <div class="clearfix div_img_overlay">

        <br /><br />
        <div class="col-md-4" id="divLoginLeft">
        </div>
        <div class="col-md-4" id="divLoginRight" align="center">
            @using (Html.BeginForm("Login", "Auth", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                <table style="width: 550px; margin-left: 20px; background-color: #fff;opacity: 0.92; border: 0px solid red;">
                    <tr><td colspan="2"><br /><h4 style="text-align: center;">Login in to ATT Project Management System</h4></td></tr>
                    <tr style="height: 50px;">
                        <td style="text-align: right; padding-right: 10px;">@Html.LabelFor(model => model.Username)</td>
                        <td>
                            @Html.TextBoxFor(model => model.Username, new { @class = "form-control", @autocomplete = "off" })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger", @style = "color:red" })
                        </td>
                    </tr>
                    <tr style="height: 50px;">
                        <td style="text-align: right; padding-right: 10px;">@Html.LabelFor(m => m.Password)</td>
                        <td>
                            @Html.PasswordFor(model => model.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger", @style = "color:red" })
                        </td>

                    </tr>
                    <tr style="height: 50px;">
                        <td></td>
                        <td>
                            <p><a href="#" id="resetcode" style="color: #AE3200; text-decoration: none;">Forgot Password?</a></p>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Log in" class="btn btn-default" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td style="height: 30px;">@Html.ValidationSummary(true, "", new { @style = "color: red" })</td>
                    </tr>
                </table>

                <div class="form-group" style="display: none;">
                    <div class="col-md-offset-4 col-md-8">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                </div>
               
            }

        </div>
        <div class="col-md-4"></div>
    </div>
    <div class="footer_loc" id="divFooter">

        <div class="col-lg-6">
            <p><a href="#">Privacy Statement</a> | <a href="#">Terms of Use</a></p>
        </div>
        <div class="col-lg-6" style="text-align: right;">
            <p class="footer_pfont">&copy; @DateTime.Now.Year ATTSystems PL</p>

        </div>
    </div>

    <script>
        $(document).ready(function () {
            //$("#divLoginLeft").outerHeight($("#divLoginRight").height() + "px");

            $("#resetcode").click(function () {
                window.location = '@Url.Content("~/Auth/RequestReset")';// 'Auth/RequestReset';
            });

            ResizeContentContainer();
        });

        window.onresize = ResizeContentContainer;

        function ResizeContentContainer() {
            var body = document.body,
                html = document.documentElement;

            var docHeight = Math.max(body.scrollHeight, body.offsetHeight,
                html.clientHeight, html.scrollHeight, html.offsetHeight);
            var windowHeight = $(window).height();

            
            if (windowHeight < docHeight) {
                $("#divFooter").hide();
            }
            else {
                $("#divFooter").show();
                $("#divFooter").css("top", (docHeight - 30) + "px");
            }
            //alert(height + "   " + windowHeight);



        }
    </script>
</body>
</html>






