﻿@model ATTSystems.Core.Model.ViewModel.RequestResetCodeViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Request for Secure Reset</title>
    <link href='@Url.Content("~/Content/Site.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/customizeStyle.css")' rel="stylesheet" type="text/css" />
    <script src='@Url.Content("~/Scripts/jquery-3.3.1.min.js")'></script>
    <script src='@Url.Content("~/Scripts/modernizr-2.8.3.js")'></script>
    <script src='@Url.Content("~/Scripts/admin.js")'></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
    <style>
        .footer_loc {
            position: absolute;
            border-top: 1px solid #0C5AAB;
            bottom: 0;
            width: 100%;
            height: 60px; /* Height of the footer */
            color: #337ab7;
            font-size: 12px;
        }
    </style>
</head>
<body style="padding-top: 5px;">
    <div class="clearfix">
        <div class="col-md-12">
            <img src='@Url.Content("~/Images/logo.png")' alt="ATTSystems Logo" />
        </div>
    </div>

    <div class="clearfix" style="background-color: #0C5AAB; height:22px;"></div>

    <div class="clearfix" style="text-align: center; padding: 10px 20px;">
        <h3>ATT SYSTEMS - Project Management System</h3>
    </div>
    <div class="clearfix">
        <br /><br />
        <div class="col-md-4" id="divLoginLeft">
        </div>
        <div class="col-md-4" id="divLoginRight" style="background: #fff; opacity: 0.92;">
            <br />
            <h3 style="text-align: center;">Reset Password</h3>
            <br />
            <h4 style="text-align: center;">Please enter your registered email address</h4>
            @using (Ajax.BeginForm("RequestAccountReset", "Auth", new AjaxOptions
            {
                HttpMethod = "POST",
                OnSuccess = "SuccessReset",
                OnFailure = "FailReset",
                InsertionMode = InsertionMode.Replace,
                AllowCache = false
            }, new { @id = "form_validation", @class = "form-horizontal" }))
            {
                <div class="form-group">
                    <label class="col-md-4 control-label">Email Address <span class="spanRequired">*</span></label>
                    <div class="col-md-8">
                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @autocomplete = "off", @style = "font-size: 16px;" })
                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger", @style = "color:red" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label">Captcha <span class="spanRequired">*</span></label>
                    <div class="col-md-8">

                        <table>
                            <tr>
                                <td style="width: 100px;">
                                    @Html.TextBoxFor(model => model.Captcha, new { @autocomplete = "off", @autocorrect = "off", @maxlength = "4", @class = "form-control", @style = "width: 100px; font-size: 16px;" })
                                </td>
                                <td>
                                    <span class="col-md-4" style="text-align: right;">
                                        <img id="imgCaptcha" alt="Captcha" src="@Model.CaptchaImage" />
                                    </span>
                                </td>
                                <td>
                                    <span class="col-md-4" style="text-align: right;">
                                        <img id="imgRefresh" alt="refresh captcha" src='@Url.Content("~/Images/refresh.png")' style="width: 25px; cursor:pointer;" />
                                    </span>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-4 col-md-8" style="text-align: left;">
                        <input type="button" id="btnSubmit" value="Request for Reset" class="btn btn-default" />
                    </div>
                </div>

                <div class="col-md-offset-4 col-md-8" style="text-align: left; padding-top: 20px;">
                    @Html.ValidationSummary(true, "", new { @style = "color: red" })
                    <span id="msgResult" class="spanRequired"></span>
                    <span id="msgPass" style="color: blue;"></span>
                </div>
            }

        </div>
        <div class="col-md-4"></div>
    </div>

    <script>
        $(document).ready(function () {
            $("#divLoginLeft").outerHeight($("#divLoginRight").height() + "px");
        });

        function RefreshCaptcha() {
            $.ajax({
                type: "GET",
                url: '@Url.Action("RefreshCaptchaImage")',
                contentType: "image/png",
                success: function (data) {
                    if (data.Code == 1) {
                        $('#imgCaptcha').attr('src', data.Content);
                    }
                    else {
                        $("#msgResult").text("Refresh Captcha Error");
                    }
                },
                error: function (error, txtStatus) {
                    var msg = "Refresh Captcha Error";
                    if (txtStatus != null)
                        msg += " - " + txtStatus;
                    $("#msgResult").text(msg);
                },
            });
        }

        $("#imgRefresh").click(function () {
            $("#msgResult").text("");
            RefreshCaptcha();
        });
        $("#btnSubmit").click(function () {
            $("#msgResult").text("");
            $('#btnSubmit').attr("disabled", true);
            $('#btnSubmit').submit();
        });

        function SuccessReset(e) {
            if (e != null) {
                if (e.Code != null) {
                    if (e.Code == 200) {

                        $("#msgPass").text("Request success");
                        $('#btnSubmit').attr("disabled", true);
                        setTimeout(function () { RedirectToSuccessPage(); }, 1000);

                    }
                    else {
                        var msg = "Failed to send reset request ";
                        if (e.Message != null) {
                            msg += e.Message;
                        }
                        $('#btnSubmit').attr("disabled", false);
                        $("#msgResult").text(msg);
                        RefreshCaptcha();
                    }
                }
                else {
                    $('#btnSubmit').attr("disabled", false);
                    $("#msgResult").text("Request to reset failed.");
                    RefreshCaptcha();
                }
            }
            else {
                $('#btnSubmit').attr("disabled", false);
                $("#msgResult").text("Falied to request to reset");
                RefreshCaptcha();
            }
        }
        function FailReset(e) {
            $("#msgResult").text("");
            $('#btnSubmit').attr("disabled", false);
            RefreshCaptcha();
        }
        function RedirectToSuccessPage() {

            var loc = window.location + "";
            loc = loc.toLowerCase();
            var n = loc.indexOf("auth");
            loc = loc.substring(0, n) + "Auth/RequestResetSuccess";

            window.location.replace(loc);
        }
    </script>
</body>
</html>
