﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Change Success</title>
    <script src="@Url.Content("~/Scripts/jquery-3.2.1.min.js")"></script>
    <style type="text/css">
        .pFont {
            margin-left: 10px;
            margin-top: 20px;
            font-size: 14px;
            font-weight: normal;
            color: #000000;
        }

        h2 {
            margin-left: 10px;
        }
    </style>
</head>
<body>
    <h2>Request for Account Reset - Success</h2>

    <p class="pFont">An email had send to your registered email address. Please procees to reset your account from your email instruction.</p>
    <script type="text/javascript">
        setTimeout(function () { CloseWindows(); }, 3000);
        function CloseWindows() {
            close();
        }
    </script>
</body>
</html>


