﻿@model IEnumerable<ATTSystems.Core.Model.ViewModel.ModuleViewModel>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ATT SYSTEMS - Project Management System</title>

    <!-- Material Icon -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/icon.css")" media="screen" />

    <link href='@Url.Content("~/Content/bootstrap.min.css")' rel="stylesheet" type="text/css" />
    <link href='@Url.Content("~/Content/style.css")' rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/customizeStyle.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/waves.css")" rel="stylesheet" type="text/css" media="screen" />
    <link href="@Url.Content("~/Content/dataTables.bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Scripts/sweetalert2.min.css")" rel="stylesheet" />

    <script src='@Url.Content("~/Scripts/jquery-3.3.1.min.js")'></script>

    <script src='@Url.Content("~/Scripts/bootstrap.min.js")'></script>
    <script src='@Url.Content("~/Scripts/Dialogue.js")'></script>
    <script src="@Url.Content("~/Scripts/waves.js")"></script>
    <script src='@Url.Content("~/Scripts/sweetalert2.min.js")'></script>
    <script src="@Url.Content("~/Scripts/core.js")"></script>

    <!-- Custom Js -->

    <script src='@Url.Content("~/Scripts/admin.js")'></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.min.js")"></script>
</head>
<body>

    <!-- #END# Overlay For Sidebars -->
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #0C5AAB; border: 0px; height: 50px; padding-top: 5px;">

        <div class="col-md-4">
            <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false" style="background-color:transparent;"></a>
            <a href="javascript:void(0);" class="bars"></a>
            <img src="~/Images/logo.png" height="40" style="padding-left: 30px;" />
        </div>
        <div class="col-md-4">
            <div class="align-center h4 collapse navbar-collapse" style="color: #fff; ">
                Project Management System
            </div>
        </div>



        @using (Html.BeginForm("Logoff", "Auth", FormMethod.Post, new { id = "logoutForm" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <div class="collapse navbar-collapse" id="navbar-collapse" style="padding-right: 25px;">
                <ul class="nav navbar-nav navbar-right">
                    <li style="color: #fff; padding-top: 15px; cursor: pointer;" onclick="MyFunction();">
                        @ViewBag.CurrentUserName
                    </li>
                    <li>

                        <a href="#" onclick="MyFunction();" style="color: #fff; margin-top: 10px;"><i class="material-icons">more_vert</i></a>
                        <ul class="dropdown-menu">

                            <li class="header" style="text-align: left; padding-left: 20px;">
                                Hi :
                                <span class="lblHeadUserName"><strong>@ViewBag.CurrentUserName</strong></span>
                            </li>

                            <li class="body">
                                <a id="btnChangeCode" href="#">
                                    <i class="material-icons">verified_user</i> Change Password
                                </a>
                            </li>
                            <li class="body">
                                <a id="linkLogout" href="javascript:void(0);">
                                    <i class="material-icons">exit_to_app</i> Logout
                                </a>
                            </li>
                            <li class="body">
                                <br />
                                <a id="btnClosePanel" href="#">
                                    <i class="material-icons">close</i>
                                    <span>Close</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        }


    </div>

    <section class="content">
        <div class="row clearfix" style="margin-right: -5px;">
            <div class="container-fluid" style="padding-right: 5px; padding-left: 5px;">

                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="margin-top: -12px; margin-left:-12px; ">
                    <div class="card">
                        @*<div class="header">*@
                        <div id="PartialView">
                            @RenderBody()
                        </div>
                        @*</div>*@
                    </div>
                </div>
            </div>
            <!-- #END# Exportable Table -->
        </div>
    </section>



    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li style="background-color: #BDBEBF;">
                        <a id="btnDashboard" href="#" style="color: #000;">
                            <span style="color: #000; font-weight: normal; font-size:16px; ">Dashboard</span>
                        </a>
                    </li>



                    @if (Model != null && Model.FirstOrDefault(x => x.ModuleName == "ReportModule") != null)
                    {
                        <li>

                            <a href="#" class="menu-toggle">
                                <i class="material-icons" style="padding-top: 3px;">insert_chart</i>
                                <span>Reports</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a id="btnSMSSummary" href="#">
                                        <i class="material-icons">mms</i>
                                        <span>SMS Summary Report</span>
                                    </a>
                                </li>
                                <li>
                                    <a id="btnSMSDaily" href="#">
                                        <i class="material-icons">library_books</i>
                                        <span>SMS Daily Report</span>
                                    </a>
                                </li>


                            </ul>
                        </li>
                    }



                    @if (Model != null && Model.FirstOrDefault(x => x.ModuleName == "AdminModule") != null)
                    {
                        <li>
                            <a href="#" class="menu-toggle">
                                <i class="material-icons" style="padding-top: 3px;">sms</i>
                                <span>SMS & Messages</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a id="btnSMSTemplate" href="#">
                                        <i class="material-icons">comment</i>
                                        <span>SMS Templates</span>
                                    </a>
                                </li>
                                <li>
                                    <a id="btnMobileWebTemplate" href="#">
                                        <i class="material-icons">comment</i>
                                        <span>Mobile-Web Templates</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }

                    @if (Model != null && Model.FirstOrDefault(x => x.ModuleName == "AdminModule") != null)
                    {
                        <li>
                            <a href="#" class="menu-toggle">
                                <i class="material-icons" style="padding-top: 3px;">settings_applications</i>
                                <span>System Admin</span>
                            </a>
                            <ul class="ml-menu">
                                <li>
                                    <a id="btnUserList" href="#">
                                        <i class="material-icons">person</i>
                                        <span>Users</span>
                                    </a>
                                </li>
                                <li>
                                    <a id="btnRoleList" href="#">
                                        <i class="material-icons">group</i>
                                        <span>Roles</span>
                                    </a>
                                </li>
                                <li>
                                    <a id="btnDeptList" href="#">
                                        <i class="material-icons">business</i>
                                        <span>Departments</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                @*<div class="copyright">
                        &copy; @DateTime.Now.Year Project Core ATTSystems P.L.
                    </div>*@
                <div class="version">
                    <b>Version: </b> 1.0.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
    </section>







    <script>

        $(function () {
            $.AdminBSB.leftSideBar.activate();
        });

        function MyFunction() {
            $(".dropdown-menu").toggle();
        }

        function SetActiveModule(module) {
            $('.list>li').removeClass('active');
            $('.list>li').find('a#' + module).parent().addClass('active');
            $('.ml-menu>li').removeClass('active');
            $('.ml-menu>li').find('a#' + module).parent().addClass('active');
            if ($('.ml-menu').find('li.active').length <= 0) {
                $('.menu-toggle').removeClass('toggled');
                $('.ml-menu').css({ 'display': 'none' });
            }
        }

        $("#btnDashboard").click(function () {
            var relativeURI = "@Url.Action("Dashboard", "Home")";
            renderPartialView(relativeURI);

        });

        $('#btnChangeCode').click(function () {
           // $(".dropdown-menu").toggle(); // close dropdown box
            controllerName = 'Manage';
            var relativeURI = "@Url.Action("RequestChangeKeycode", "Manage")";
            renderPartialView(relativeURI);
            $(".dropdown-menu").toggle();
        });

        $('#btnRoleList').click(function () {
            SetActiveModule('btnRoleList');
            controllerName = 'Setting';
            var relativeURI = "@Url.Action("ListRole", "Setting")";
                renderPartialView(relativeURI);
                    });

        $('#btnDeptList').click(function () {
            SetActiveModule('btnDeptList');
                controllerName = 'Setting';
                var relativeURI = "@Url.Action("ListDepartment", "Setting")";
                renderPartialView(relativeURI);
                });

        $('#btnUserList').click(function () {
            SetActiveModule('btnUserList');
            controllerName = 'Setting';
            var relativeURI = "@Url.Action("ListUser", "Setting")";
            renderPartialView(relativeURI);
        });


        $('#btnSMSSummary').click(function () {
            SetActiveModule('btnSMSSummary');
            controllerName = 'Report';
            var relativeURI = "@Url.Action("ReportSMSSummary", "Report")";
            //renderPartialView(relativeURI);
            swal("Error", "No Implemented - " + relativeURI, "error");

        });

        $('#btnSMSDaily').click(function () {
            SetActiveModule('btnSMSDaily');
            controllerName = 'Report';
            var relativeURI = "@Url.Action("ReportSMSDaily", "Report")";
            //renderPartialView(relativeURI);
            swal("Error", "No Implemented - " + relativeURI, "error");
        });



        $('#btnMobileWebTemplate').click(function () {
            SetActiveModule('btnMobileWebTemplate');
            controllerName = 'SMS';
            var relativeURI = "@Url.Action("ListMobileWebTemplate", "SMS")";
            //renderPartialView(relativeURI);
            swal("Error", "No Implemented - " + relativeURI, "error");
        });

        $('#btnSMSTemplate').click(function () {
            SetActiveModule('btnSMSTemplate');
            controllerName = 'SMS';
            var relativeURI = "@Url.Action("ListSMSTemplate", "SMS")";
            //renderPartialView(relativeURI);
            swal("Error", "No Implemented - " + relativeURI, "error");
        });

        $("#btnClosePanel").click(function () {
            $(".dropdown-menu").toggle();
        });

        function renderPartialView(relatetiveURI) {
            $.ajax({
                url: relatetiveURI,
                type: "GET",
                cache: false,
                beforeSend: function () {
                    $('.page-loader-wrapper').delay(5).fadeIn();
                },
                complete: function () {
                    $('.page-loader-wrapper').delay(5).fadeOut();
                },
                success: function (data) {
                    $("#PartialView").html("");
                    try {
                        if (data != null) {
                            $("#PartialView").html(data);
                        }
                        else {
                            // something wrong - logout
                            $('#logoutForm').submit()
                        }
                    }
                    catch (err)
                    {
                        swal("Error", err.message, "error");
                       // alert(err.message);
                    }
                },
                error: function (data) {
                    swal("Error", data.statusText, "error");
                }
            });
        }

        $('#linkLogout').on('click', function () {
            LogoutDialog("logoutForm");
        });



    </script>

</body>
</html>