﻿body {
}

.tablecust {
    width: 100%;
    margin-bottom: 20px;
    max-width: 100%;
    background-color: transparent;
}

.tableCust thead > tr > th, .tablecust tbody > tr > th, .table tfoot > tr > th, .tablecust thead > tr > td, .tablecust tfoot > tr > td {
    padding: 2px;
    line-height: 1.4285;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.tablecust tbody > tr > td {
        padding: 8px;
        line-height: 1.4285;
        vertical-align: top;
        border-top: 1px solid #ddd;
    }

.custlabel {
        font-weight: normal;
        height: 25px;
        width: 100%;
        padding: 6px 0px;
        color: #3f3f3f;
        position: relative;
        left: 0px;
        display: block;
        font-size: 13px;
        vertical-align: middle;
    }
.custTextArea {
    font-size: 12px;
    /*resize: both;*/
    padding: 2px;
    overflow: hidden;
    
}


.custCheckbox {
    padding-left: 0px;
    position: relative;
    vertical-align: middle;
    
    display: block;
}

.logoImg {
    width: auto;
    height: 50px;
}

.footer_pfont {
    font-size: 12px;
}

/* User Login Image */
.userImg {
    border-radius: 33px;
}
/* */
.image {
    margin-top: 16%;
}

.lblHeadUserName {
    color: #006fe6;
}

/* For Navigation */
.mainLi a {
    cursor: default;
    pointer-events: none;
}

    .mainLi a h4 {
        margin-top: 5px;
    }

.lnkEdit, .lnkDelete, .lnkView .tmpEdit, .lnkNotiOn, .lnkNotiOff {
    text-decoration: none;
    color: #999;
}

.divHeadDeptGroup {
    width: 200px;
    height: 50px;
}


/* Paging */
.dataTables_length div.bootstrap-select {
    border: none;
    padding: 0px;
}
/* End of Paging */

/****** Presentation *******/

/*** Add Scene ***/
.divStep3TemplateZone {
    float: left;
    width: 24%;
}

.ulUserDefinedTemplate {
    height: 240px;
    overflow-y: auto;
}

    .ulUserDefinedTemplate li {
        line-height: 30px;
        font-size: 13px;
        cursor: pointer;
    }

        .ulUserDefinedTemplate li:first-child {
            background-color: #C0C0C0;
            text-align: center;
            font-size: 14px;
        }

        .ulUserDefinedTemplate li:nth-child(2n+2) {
            background-color: #ddd;
        }

#bgFieldSet {
    width: 95%;
    height: 255px;
}

#txtSceneName_Error {
    width: 100%;
}

.divSceneName {
    height: 50px;
}
/*** Add Zone ***/
.divLeftSide {
    width: 50%;
    float: left;
}

#btnSaveZone {
    width: 37px;
}

#btnAddZone, #btnDeleteZone, #btnAddScene, #btnDeleteScene {
    width: 40px;
}

#Carousel1 .carousel-inner .item .row div div {
    width: 100px;
    height: 65px;
}
/*.divStep1Content {
width: 555px;
}*/
.sceneContent {
    clear: both;
    border: 3px solid #665600;
    /*width: 555px;*/
    /*height: 210px;*/
    /*height: 320px;*/
    background-color: #000;
}

.divtmpName {
    height: 45px;
    /*width: 400px;*/
}

.divTemplateName {
    width: 50%;
}

.divStep3SceneContent {
    height: 320px;
    width: 555px;
    overflow: hidden;
}

#divStep1 {
    height: 322px;
    /* Modified by HOW */
    width: 557px;
    /*width: 99%;*/
}

.divSecondWrap, .divFirstWrap {
    /*width: 100%;*/
    width: 555px;
    /*width: 555px;*/
    height: 320px;
    position: relative;
}


/** Add New Zone **/
.zone-box {
    background-color: white;
    height: 100px;
    width: 100px;
    position: static;
    opacity: 0.9;
}

.drop-content-box {
    background-color: #A9A9F5;
    height: 100px;
}

/* jquery ui modify  */
.ui-widget-content, .ui-widget-header {
    /*background: orange !important;*/
    /*border: 1px !important;*/
}

.ui-widget-header {
    /*background: blue !important;*/
    border: 0px !important;
}

.ui-resizable-e {
    /*background:green;*/
    width: 0px !important;
    right: 0px !important;
}

.ui-resizable-s {
    /*background: #f4f142;*/
    height: 0px !important;
    bottom: 0px !important;
}

/* jquery ui modify  */
/** End of Add New Zone */

.divRightSide {
    float: right;
    width: 50%;
}

.lblZoneNameProperties {
    font-weight: bold;
    font-size: 16px;
    color: #000;
    width: 50px;
    text-align: center;
    border-radius: 6px;
    background: rgb(240,230,140);
}

/* Zone Location */
.divZoneLocation {
    float: left;
}

/* Zone Size */
.divZoneSize {
    float: right;
}


/*** Add Content ***/
.lblSmallStep4 {
    float: left;
    font-size: 12px;
}

/* Preview */
.lblPreviewZoneName {
    /*position: absolute;*/
    color: rgb(0, 0, 255);
    font-weight: bold;
    display: block;
    text-align: left;
}

#divPreviewParent {
    z-index: 10000;
    height: 320px;
    width: 555px;
    background-color: black !important;
    color: white;
    overflow: hidden;
    /*padding: 0px;
    margin: 0px;
    border: 0px;*/
    border: 2px solid rgb( 0, 36, 106);
    right: 0;
    position: absolute;
}

.divPreviewContent {
    height: 320px;
    width: 555px;
}
/* End of Preview */

.divStep4LeftSide {
    float: left;
    width: 37%;
    margin-left: -1%;
    margin-right: 2%;
    /*height: 500px;*/
}

#contentListFieldSet {
    height: 180px;
}

    #contentListFieldSet ul li:nth-child(2n+1) {
        background-color: #ddd;
    }

    #contentListFieldSet ul li {
        /*overflow: auto;*/
    }

.divStep4Middle {
    float: left;
    width: 32%;
    height: 320px;
}

.lblStep4Middle {
    color: #3f3f3f;
    font-size: 12px;
}

#zoneList {
    height: 300px;
    overflow: auto;
}

    #zoneList li {
        /*overflow-x: auto;*/
    }

        #zoneList li div {
            border: 1px solid #1A237E;
            height: 60px;
            margin-bottom: 4%;
            border-radius: 3px;
            overflow: auto;
            overflow-y: hidden;
            white-space: nowrap;
        }

            #zoneList li div div.content-box {
                margin-bottom: 1%;
                /*margin-top: 3%;*/
            }

            #zoneList li div div {
                /*float: left;*/
                width: 60px;
                height: 60px;
                border: 0px;
            }

                #zoneList li div div div.content_wrap {
                    margin-bottom: 0%;
                }

            #zoneList li div.btn_wrap {
                overflow: visible;
                margin-top: -12px;
                margin-bottom: 0;
            }

.spanZoneName {
    float: left;
    background-color: #1A237E;
    border: 2px solid #ddd;
    color: #fff;
    height: 60px;
    text-align: center;
    border-radius: 3px;
    width: 8%;
}

.divStep4RightSide {
    float: right;
    width: 28%;
}

#ddlHour, #ddlMinutes, #ddlSeconds, #ddlSceneHour, #ddlSceneMinutes, #ddlSceneSeconds {
    width: 41px;
    font-size: 12px;
}

#ulContentList {
    height: 140px;
    overflow-y: auto;
    cursor: pointer;
}

.divContentListGroup {
    height: 300px;
}

#content-list {
    /*min-width: 400px;*/
    /*min-height:400px;*/
}

#accordion .ui-accordion-content {
    /*max-height: 200px;*/
}

.ui-accordion-content {
    max-height: 133px !important;
    overflow-x: hidden;
    overflow-y: scroll;
}

    .ui-accordion-content ul {
    }

        .ui-accordion-content ul li {
            list-style: none;
            cursor: move;
            height: 30px;
            color: blue;
        }



zone-box {
    background-color: white;
    height: 100px;
    width: 100px;
    position: static;
    opacity: 0.9;
}

.zone-drop-box {
    border: 1px solid;
    position: relative;
    width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    display: inline-block;
    height: 70px;
}

    .zone-drop-box span {
        position: relative;
        display: inline-block;
        width: auto;
        float: left;
        margin-right: 15px;
    }

    .zone-drop-box:hover {
        border-bottom-color: gray;
    }

.zone-drop-active {
    /*background-color:#3e3e3e;*/
    background: rgb(221, 217, 195);
}

.content-box {
    background-color: rgb(221, 217, 195);
    border: 1px solid red;
    margin-right: 1px;
    display: inline-block;
    position: relative;
    width: auto;
    height: 50px;
}

.btn-remove {
    color: blue;
    padding-top: 100px;
    position: absolute;
}

.content_title {
    position: relative;
    display: inline-block;
    float: left;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #000;
}

.content_time {
    display: inline-block;
    position: relative;
    float: left;
    width: 100%;
}

.content_btn {
    float: left;
    display: inline-block;
    position: relative;
    width: 20%;
}

.btn_style {
    background-color: #eee;
    border: 0 none;
    border-radius: 3px;
    color: #ee5757;
    cursor: pointer;
    font-size: 11px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    /*margin: 3px 5px 0px 5px;*/
    margin: -50px 3px 0px 39px;
}

.content_wrap {
    width: auto;
    position: relative;
    display: inline-block;
    float: left;
}

.btn_wrap {
    position: relative;
    display: inline-block;
    float: left;
    width: auto;
}

/***** END of Presentation *****/

/* Modal Header */
.modal-header {
    background-color: #001f67;
    color: #fff;
}

/* Modal Footer */
.divModalFooterButton {
    padding-right: 4%;
}

.modal-footer button {
    width: 15%;
}

/* GridView Edit Data */
.grdLnk {
    text-decoration: underline;
    cursor: pointer;
}


/* Listing Table */
.customTbl {
    table-layout: auto;
}

    .customTbl tbody tr td {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

.tdNumber {
    text-align: right;
}



/* Required Field */
.spanRequired {
    color: red;
}

/* DropDown */
#ddlOrientation, #ddlResolution, #ddlHour, #ddlMinutes,
#ddlSeconds, #ddlTransactionEffect, #ddlPosition, #ddlContentType,
#ddlDepartment, #ddlPreviousTicker, #ddlFontName, #ddlFontSize, #ddlGender,
#ddlAgeGroup, #ddlListDepartment, #ddlContentTransactionEffect, #ddlContentDepartmentList,
#UserRole, #ddlMessageAlignment, #ddlTransaction, #ddlMsgFontName, #ddlSceneHour,
#ddlSceneMinutes, #ddlSceneSeconds, #ddlMessageType,#TimerHour,#TimerMinute,#TimerDayOfWeek,#TimerMode {
    border-bottom: 1px solid #e9e9e9;
}

/* Start of Presentation */
#rdoPic, #rdoCol {
    margin-left: -4%;
}

#templateFieldSet {
    height: 450px;
}

#divSpeed {
    margin-top: 16%;
}

#ddlFontSize {
    /*margin-top: 3%;*/
}

#divColorBox {
    margin-top: 15%;
}

#rightFieldSet, #bgFieldSet, #templateFieldSet, #zoneFieldSet, #zoneLocationFieldSet, #zoneSizeFieldSet, #contentListFieldSet, #rightFieldSetStep4, #fieldSetContentProperties {
    border: 1px solid #e9e9e9;
    padding-left: 5%;
    padding-right: 4%;
    border-radius: 5px;
}

    #rightFieldSet legend, #bgFieldSet legend, #templateFieldSet legend, #zoneFieldSet legend, #zoneLocationFieldSet legend, #zoneSizeFieldSet legend, #contentListFieldSet legend, #rightFieldSetStep4 legend, #fieldSetContentProperties legend {
        color: #3f3f3f;
        font-size: 90%;
        text-align: left;
        padding-left: 15px;
    }

    #fieldSetContentProperties legend {
        padding-left: 10px;
    }

.fieldSetBtn {
    margin-right: 4%;
}

.divPicture {
    height: 60px;
}

.divColor {
    height: 60px;
}

.rdoFieldSet {
    float: left;
}

label.rdoFieldSet {
    margin-left: -6%;
    color: #3f3f3f;
}

#picUpload {
    float: right;
    margin-right: -30%;
    margin-top: 2%;
    font-size: 11px;
}


.divSceneList {
    margin-top: 30%;
}

.scene-main-boxTemplate {
    margin-top: -6%;
}
/* Color Picker */
#iColorPicker, #iColorPickerMsgBg, #iColorPickerMsgFont {
    width: 50px;
    height: 50px;
}

#iColorPickerContent {
    width: 50px;
    height: 50px;
    /*margin-left: 75%;
    margin-top: -25%;*/
}


.leftButtonGroup input[type="image"] {
    width: 10%;
}

    .leftButtonGroup input[type="image"]:first-child, .step3leftButtonGroup input[type="image"]:first-child {
        margin-left: 34%;
    }

    .leftButtonGroup input[type="image"]:last-child {
        margin-left: 1%;
    }

.step3leftButtonGroup input[type="image"] {
    width: 9%;
    padding-left: 1%;
}

.scene-main-box {
    float: left;
    padding-left: 3%;
    width: 100px;
    height: 60px;
    border: 2px solid #ddd;
}

.zoneGroup {
    margin-top: 5%;
}

/* The controlsy */
.carousel-control {
    height: 40px;
    width: 40px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
}

/* Scene List */
.carousel-inner .item .col-md-3:nth-child(1n+1) {
    margin-left: 4%;
    cursor: pointer;
}

.carousel-inner .item .col-md-3 label {
    color: #3f3f3f;
}

.carousel-inner .item .col-md-3:first-child .scene-main-box {
    background-color: #000;
}

.divSelectZone {
    background-color: #000;
}

.divStep3LeftSide {
    float: left;
    width: 50%;
    /*position: relative;
    display: block;
    /*border: 1px solid black;*/
    /*overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;*/ */;
}

.divStep3RightSide {
    float: right;
    width: 23%;
}






/* Presentation Step 3 */
/*.lblBgColor, .lblBorderColor, .lblY {
    float: left;
}

.lblY {
    margin-top: 11%;
    margin-left: -10%;
}

.lblBorderColor {
    margin-top: 3%;
}*/

.lblScene1 {
    width: 100%;
}

.lblLeft {
    float: left;
}

.divFieldTextBox {
    margin-top: -6%;
}
/* Slider Bar */
input[type=range] {
    -webkit-appearance: none;
    border: 1px solid white;
    border-radius: 3px;
}

    input[type=range]::-webkit-slider-runnable-track {
        background-color: #ddd;
        height: 5px;
        border-radius: 3px;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #1A237E;
        margin-top: -4px;
    }

    input[type=range]::-moz-range-track {
        height: 5px;
        background: #ddd;
        border: none;
        border-radius: 3px;
    }

    input[type=range]::-moz-range-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #1A237E;
    }


    input[type=range]::-ms-track {
        height: 8px;
        background: #ddd;
        border-color: white;
        border-width: 6px 0;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower {
        background: #ddd;
        border-radius: 10px;
    }

    input[type=range]::-ms-fill-upper {
        background: #ddd;
        border-radius: 10px;
    }

    input[type=range]::-ms-thumb {
        border: none;
        height: 16px;
        width: 16px;
        border-radius: 50%;
        background: #1A237E;
    }

.scene-main-boxStep3 {
    width: 100%;
    height: 70px;
    border: 2px solid #ddd;
}

.carouselStep3 {
    margin-bottom: 0;
    padding: 0 28px 30px 20px;
}

.carousel-controlStep3 {
    height: 30px;
    width: 30px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 23px 23px 23px 23px;
    margin-top: 8%;
    margin-left: 25%;
    font-size: 12px;
}

    .carousel-controlStep3.left {
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, .0001)));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, .0001) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
        background-repeat: repeat-x;
    }

    .carousel-controlStep3.right {
        right: 0;
        left: auto;
        background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
        background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
        background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, .5)));
        background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0%, rgba(0, 0, 0, .5) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
        background-repeat: repeat-x;
        margin-right: 37%;
    }

.carousel-controlStep3 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
}

#btnAddZoneStep3 {
    margin-left: 29%;
}

#rightColorPickerStep3 {
    width: 200px;
    float: right;
    margin-top: -5%;
    margin-right: 18%;
}

#rightBorderColorPickerStep3 {
    width: 200px;
    float: right;
    margin-top: -8%;
    margin-right: 18%;
}

#iBorderColorPicker {
    width: 40px;
    height: 40px;
    margin-top: -2%;
}

.lblBorderSize {
    float: left;
    margin-top: 8%;
}

.divBorderSize {
    border-bottom: 1px solid #ddd;
    width: 20%;
    float: right;
    margin-right: -40%;
    margin-top: 4%;
    z-index: 1;
}

.divSlider {
    margin-top: 3%;
}

.divBorderBottom {
    border-bottom: 1px solid #ddd;
}

.divZoneTransparency {
    width: 15%;
    border-bottom: 1px solid #ddd;
    float: right;
    margin-top: -2%;
    margin-right: -50%;
}

.spanPercentage {
    float: right;
    margin-right: -54%;
    margin-top: 0%;
}

.lblStep3BgColor, .lblStep3BorderColor {
    float: left;
    margin-left: -2%;
}

.lblTransparency {
    margin-left: -18%;
    float: left;
    margin-top: 10%;
}

.lblStep3BorderColor {
    margin-top: 3%;
}

.divTransparencyTxt {
    margin-top: -5px;
}

.lblX {
    margin-top: -6%;
}

.divZoneFieldTextBox {
    margin-top: -16px;
}

.spanX {
    float: right;
    margin-top: -28%;
    margin-right: -7%;
}

.spanY {
    float: right;
    margin-top: 0%;
    margin-right: -82%;
}

.lblYBorderSize {
    margin-top: -28%;
}
/* Zone Size */
.lblZoneWidth {
    float: left;
    margin-left: -10%;
}

.lblZoneHeight {
    float: left;
    margin-top: 12%;
    margin-left: -23%;
}

.divWidth, .divHeight {
    border-bottom: 1px solid #ddd;
    width: 57%;
    margin-top: -11%;
    float: right;
    margin-right: 7%;
}

/* Zone Location */
.divX, .divY {
    margin-top: -13%;
}

.spanWidth, .spanHeight {
    float: right;
    margin-top: 1%;
    margin-right: -70%;
}

/*#btnStep3Save {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-left: 78%;
}*/

.lbltemplateScene {
    float: left;
    margin-left: -35%;
    margin-top: 32%;
}

.divTemplateScene {
    margin-left: 23%;
}

#btnShift {
    /*margin-top: 10px;*/
}

/* User Defined Template */
.divSceneList ul {
    width: 215px;
    height: 240px;
    overflow-y: auto;
}
/* Presentation Step 4 */
#rightFieldSet {
    height: 500px;
}

#ddlHour {
    width: 41px;
}

.lblPlayDuration {
    float: left;
    margin-left: -25%;
    width: 100px;
}

/*.lblTransactionEffect {
    margin-left: -20%;
    width: 120px;
    float: left;
}*/

#ddlTransactionEffect, #ddlPosition {
    font-size: 12px;
}

.lblPosition {
    float: left;
    margin-left: -10%;
}

#divTransactionEffect {
    float: left;
    width: 92%;
    margin-left: -14%;
}

#divPosition {
    margin-left: -25%;
}

.lblSoundLevel {
    margin-left: -10%;
    float: left;
}

.divSoundSlider {
    float: left;
    margin-left: -46%;
    width: 80%;
}

#divSoundLevel {
    border-bottom: 1px solid #ddd;
    float: left;
    margin-left: -155%;
    margin-top: -30%;
}

.spanSoundPercentage {
    float: left;
    margin-left: -21%;
    margin-top: 12%;
}

#txtSoundLevel {
    padding-right: 0px;
}

.carouselStep4 {
    margin-bottom: 0;
    padding: 0 33px 31px 25px;
    position: relative;
}

/* User Admin */
.multiselect-native-select div.btn-group:first-child {
    display: none;
}

.multiselect-native-select div.btn-group:last-child {
    width: 100%;
    border-bottom: 1px solid #e9e9e9;
    box-shadow: none;
}

    .multiselect-native-select div.btn-group:last-child button b.caret {
        display: none;
    }

    .multiselect-native-select div.btn-group:last-child .multiselect-container, .multiselect-native-select div.btn-group:last-child button.multiselect {
        width: 100%;
    }

    .multiselect-native-select div.btn-group:last-child button.multiselect {
        -webkit-appearance: menulist;
    }

        .multiselect-native-select div.btn-group:last-child button.multiselect span.multiselect-selected-text {
            float: left;
        }

/* For IE 10+ */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .divSlider {
        margin-top: -2%;
    }

    #zoneLocationFieldSet {
        margin-top: 17%;
    }

    #picUpload {
        width: 70%;
        margin-right: -3%;
    }
}

/* For Mozilla */
@-moz-document url-prefix() {
    #zoneSizeFieldSet {
        margin-top: 8%;
    }

    .divSlider {
        margin-top: 10%;
    }

    .divZoneTransparency {
        margin-top: 4%;
    }

    .spanPercentage {
        margin-top: 8%;
    }

    .rightColorPickerStep3 {
        margin-top: -9%;
    }



    select {
        -moz-appearance: none;
        text-indent: 0.01px;
        text-overflow: '';
    }

    .divContentPropertiesLeftSide img {
        height: 200px;
        width: 200px;
        border: 1px solid #aaa;
    }
}

/* File Upload */

/* Step 2 File Upload */
.divFileName {
    float: left;
}

#divPresentationFileUpload {
    float: right;
}

#spanPresentationFileName {
    width: 100px;
    height: 15px;
    float: left;
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.spanPresentationSelectFile {
    font-size: 10px;
}

#spanPresentationUpload {
    width: 60px;
}

/* Gird Header Color */
table thead {
    /*background-color: #EDF1F2;*/
    background-color: #0C5AAB;
}

th {
    color: white;
    font-size: 13px;
    font-family: 'Arial Narrow';
    font-weight: lighter;
}

td {
    font-size: 14px;
    font-family: Tahoma;
    font-weight: lighter;
}

.modal800 {
    width: 900px;
}

.tr_data {
    font-size: 13px;
    font-weight: lighter;
}

/* Content */
/* Progress Bar */
#divProgressBar {
    text-align: center;
    padding: 0 !important;
}

    #divProgressBar:before {
        content: '';
        display: inline-block;
        height: 100%;
        vertical-align: middle;
        margin-right: -4px;
    }

    #divProgressBar .modal-dialog {
        display: inline-block;
        text-align: left;
        vertical-align: middle;
    }

    #divProgressBar .modal-header {
        background-color: #fff;
        color: #000;
    }
/* End of Progress Bar */
.fileinput-filename {
    white-space: nowrap;
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}

#ddlContentType {
    width: 102%;
}

#divContentFileUpload {
    border: 1px solid #ddd;
    border-radius: 3px;
}

#spanContentFileUpload {
    border: 1px solid rgb(0, 36, 106);
}

#spanContentSelectFile, #spanContentFileChange {
    padding-left: 10px;
}

#lnkContentFileRemove {
    padding-left: 12px;
}

.divTickerLeftSide {
    /*margin-left: -3%;*/
}

.divTickerRightSide {
    margin-left: 3%;
}
/* Content Properties */
.divContentPropertiesLeftSide {
    float: left;
    width: 30%;
    height: 150px;
    margin-top: 1%;
}

    .divContentPropertiesLeftSide img {
        height: 200px;
        width: 200px;
    }

.divContentPropertiesRightSide {
    float: right;
    width: 70%;
    margin-top: 0%;
}

#tblContentProperties {
    margin-left: 3%;
}

    #tblContentProperties tr td:first-child {
        width: 30%;
    }

    #tblContentProperties tr {
        height: 10px;
    }

        #tblContentProperties tr td div {
            width: 390px;
            height: 15px;
            padding-top: 3%;
        }

#divContentFileUpload div span {
    font-size: 10px;
}

/* Department Listing */
#divDepartmentList {
    width: 50%;
}

.leftError {
    float: left;
}

/**** Color Picker ****/
.rightColorPicker {
    width: 200px;
    float: right;
}

#bgColorPicker, #borderColorPicker {
    width: 40px;
    height: 40px;
}

.divLeftGroup {
    float: left;
}

.sceneFocus {
    /*//background-color: #1A237E;*/
    border: 2px solid #1A237E;
    background: rgb(0, 36, 106);
    /*border-color: #1A237E;*/
}

.fileValidate {
    color: #a94442;
}

.input-group-addon i {
    border: 3px solid rgb( 0, 36, 106);
}

#login-user i, #login-pwd i {
    border: none;
}

.highLight {
    background: #000;
}

/* For Progress bar */
.progress-bar-success {
    background: #337ab7 none repeat scroll 0% 0%;
    width: 0px;
}

.lblMessageData {
    color: #555;
}

#divMessagePreviewParent {
    z-index: 10000;
    background-color: black !important;
    color: white;
    overflow: hidden;
    border: 2px solid rgb( 0, 36, 106);
    right: 0;
    position: absolute;
    height: 200px;
    margin-top: -30%;
}

#divMessageEmeg {
    height: 185px;
}

#divEmgTitle {
    height: 50px;
    background-color: rgb(227, 36, 29);
    color: #fff;
    font-size: 20px;
    text-align:center;
}

#divEmgDesc {
    height: 135px;
    background-color: rgb(6, 139, 202);
    color: #fff;
    text-align: center;
    font-size: 15px;
}
#divMessageNoti {
border: 2px solid rgb( 0, 36, 106);
height: 50px;
}
/***** Responsive *****/
@media only screen and (device-width: 1024px) {
    .logoImg {
        margin-left: 12%;
    }

    .navbar-brand {
        padding: 15px 37px;
    }

    .userImg {
        margin-left: 27%;
    }

    #btnShift {
        margin-left: 10px;
    }

    .ulUserDefinedTemplate {
        margin-left: 4px;
        /*cursor: pointer;*/
    }

    .lblTransactionEffect {
        margin-left: -3px;
    }

    #Carousel {
        padding: 0px 53px 0px 54px;
    }

    #btnSaveZone {
        margin-top: 1px;
        width: 36px;
        margin-left: 2px;
    }

    .divPlayDuration {
        width: 150px;
    }

    .divTransactionEffect {
        width: 150px;
    }

    #ddlHour {
        margin-left: -65px;
    }

    #ddlMinutes {
        margin-left: -62px;
    }

    #ddlSeconds {
        margin-left: 177px;
        margin-top: -58px;
    }

    .divTransaction {
        margin-top: -45px;
    }

    .divTransactionEffect {
        width: 150px;
        margin-left: -61px;
    }

    #ddlTransactionEffect {
        margin-top: -63px;
        margin-left: -7px;
        width: 120px;
        padding-right: 1px;
    }

    .divPosition {
        margin-top: -35px;
        margin-bottom: 16px;
    }

    .divSoundLevel {
        width: 250px;
    }
}

@media only screen and (device-width: 768px) {
    .userImg {
        margin-top: 0%;
        margin-left: 1%;
    }

    #ddlListDepartment {
        margin-top: -26px;
    }

    .divDepartmentHeader {
        width: 100px;
    }

    .divContentPropertiesLeftSide img {
        width: 150px;
        height: 150px;
    }

    .divContentPropertiesRightSide {
        width: 70%;
    }

    #tblContentProperties tr td div {
        width: 250px;
    }

    .lblFontColor {
        margin-left: 26%;
    }

    #divContentColorPicker {
        float: right;
        margin-right: -39%;
        margin-top: -9%;
    }

    /* Scene Box */
    .scene-main-boxStep3 {
        width: 45px;
        height: 35px;
    }

    #btnShift {
        width: 38px;
        height: 26px;
        margin-left: -6px;
        margin-top: -8px;
    }

    .lblScene1 {
        margin-left: -5px;
    }


    #Carousel .carousel-inner .item .row div label {
        margin-left: 1px;
    }
    /* Presentation */
    #divStep2 {
        margin-left: -28px;
    }

    #Carousel {
        padding: 8px 55px 0px 49px;
        margin-top: -13px;
    }

    #btnSaveZone {
        margin-left: 18px;
        width: 35px;
        margin-top: 2px;
    }

    #btnDeleteZone {
        margin-left: 8px;
    }

    #Carousel1 .carousel-inner .item .row div div {
        width: 65px;
        height: 45px;
    }

    #Carousel1 {
        padding: 7px 52px 0px 63px;
        margin-top: -10px;
    }

        #Carousel1 .carousel-inner .item .row div label {
            margin-left: 10px;
        }

    .lblBorderColor {
        margin-left: -26px;
    }

    .lblPx {
        margin-left: -7px;
    }

    #Carousel2 {
        padding: 9px 52px 0px 44px;
    }

        #Carousel2 .carousel-inner .item .row div label {
            margin-left: 1px;
        }

    #ddlHour {
        margin-left: -35px;
    }

    #ddlMinutes {
        margin-left: -27px;
    }

    #ddlSeconds {
        margin-left: -19px;
    }

    .divTransaction {
        width: 194px;
    }

    #ddlTransactionEffect {
        margin-left: -13px;
    }

    #ddlPosition {
        margin-left: -11px;
    }

    #btnPreview {
        margin-left: -50px;
    }

    .divAddContentPosition {
        width: 90px;
    }

    #txtSoundLevel {
        width: 30px;
    }

    .lblSoundLevel {
        margin-left: -12px;
    }
}

@media only screen and (max-width: 400px) {
    /* Main Content */
    .container-fluid {
        margin-left: auto;
    }
    /* Add Button */
    .btnAdd {
        margin-top: -13%;
    }

    .logoImg {
        margin-top: -5%;
        margin-left: 4%;
    }

    .image {
        margin-left: 33%;
    }
}

@media only screen and (max-width: 425px) {
    .logoImg {
        margin-top: -8%;
    }

    .btnAdd {
        margin-top: -12%;
    }
}

@media only screen and (max-width: 320px) {
    .btnAdd {
        margin-top: -18%;
    }

    .logoImg {
        margin-top: -11%;
        margin-left: -21%;
    }

    #ddlListDepartment {
        margin-left: 70px;
        margin-top: -46px;
        width: 150px;
    }

    .divDepartmentHeader {
        width: 100px;
        margin-left: -10px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .btnAdd {
        margin-top: -5%;
    }

    .logoImg {
        margin-left: 11%;
    }

    .navbar-brand {
        padding: 15px 25px;
    }
}

@media only screen and (device-width:1024px) {
    /*#Carousel {
        padding: 0px 50px 0px 48px;
    }*/

    #Carousel1 {
        padding: 0px 48px 0px 61px;
    }

    #Carousel2 {
        padding: 0px 55px 0px 46px;
    }

    #rightFieldSetStep4 div.row:first-child div:first-child label {
        margin-left: -32%;
    }
}

@media only screen and (max-width:1060px) {
    .logoImg {
        margin-left: 30px;
    }
}

@media all and (device-width:1496px) {
    /* Add Scene */
    .divAddScene {
        /*margin-left: 7px;*/
        margin-left: -13px;
    }

    #btnShift {
        margin-top: 1px;
    }

    .lblScene1 {
        /*margin-left: 4px;*/
        margin-left: -7px;
    }

    #Carousel {
        /*padding: 0px 60px 0px 77px;*/
        padding: 0px 55px 0px 45px;
    }

    #btnStep2Save {
        margin-right: -2px;
    }

    /* Add Zone */
    #Carousel1 {
        /*padding: 0px 16px 0px 75px;*/
        padding: 0px 35px 0px 50px;
    }

    .lblAddZoneBgColor {
        /*margin-left: -30px;*/
        margin-left: -2px;
    }

    #btnAddZone {
        margin-left: -4px;
    }

    #btnSaveZone {
        margin-left: 5px;
        width: 35px;
        margin-top: 2px;
    }

    /* Add Content */
    #Carousel2 {
        padding: 0px 37px 0px 60px;
    }

    .divPosition {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media all and (device-width:1196px) {
    /*#region Presentation */

    /* #region Add Scene */
    .scene-main-boxStep3 {
        width: 65px;
        height: 45px;
    }

    .divAddScene {
        margin-left: -4px;
    }

    #btnShift {
        margin-top: -2px;
    }

    .lblScene1 {
        margin-left: -4px;
    }

    .divAddSceneTemplate {
        margin-left: 9px;
    }

    #Carousel {
        /*padding: 0px 53px 0px 50px;*/
        padding: 0px 53px 0px 50px;
    }

    .divFileName {
        width: 44%;
        margin-left: 19%;
        margin-top: 0px;
    }

    #btnStep2Save {
        margin-right: -7px;
    }

    /*#endregion End of Add Scene */

    /*#region Add Zone */
    #btnAddZone {
        margin-left: -3px;
    }

    #btnSaveZone {
        margin-left: 7px;
        width: 35px;
        margin-top: 2px;
    }

    #Carousel1 .carousel-inner .item .row div .scene-main-boxStep3 {
        width: 85px;
        height: 62px;
    }

    #Carousel1 {
        /*padding: 0px 47px 0px 67px;*/
        padding: 0px 49px 0px 72px;
    }

        #Carousel1 .carousel-inner .item .row div label {
            margin-left: 21px;
        }

    .lblAddZoneBgColor {
        margin-left: -27px;
    }
    /*#endregion End of Add Zone */

    /*#region Add Content */
    #Carousel2 {
        /*padding: 4px 56px 0px 46px;*/
        padding: 4px 56px 0px 47px;
    }

    .lblStep4Middle {
        margin-left: 5px;
    }

    .divPlayDuration {
        width: 150px;
    }

    .divTransactionEffect {
        width: 150px;
    }

    #ddlHour {
        margin-left: -65px;
    }

    #ddlMinutes {
        margin-left: -62px;
    }

    #ddlSeconds {
        margin-left: 177px;
        margin-top: -58px;
    }

    .divTransaction {
        margin-top: -45px;
    }

    .divTransactionEffect {
        width: 150px;
        margin-left: -61px;
    }

    #ddlTransactionEffect {
        margin-top: -63px;
        margin-left: -7px;
        width: 120px;
        padding-right: 1px;
    }

    .divPosition {
        margin-top: -35px;
        margin-bottom: 16px;
    }

    .divSoundLevel {
        width: 250px;
    }

    .lblPercentage {
        /*margin-left: -5px;*/
    }

    #btnPreview {
        margin-left: -15px;
    }
    /*#endregion End of Add Content */
    /*#endregion End of Presentation*/

    /*#region Content */
    #ddlTransactionEffect {
        margin-top: -64px;
        width: 119px;
    }
    /*#endregion End of Content*/
}

@media all and (max-device-width:997px) {
    /*#region Presentaiton */
    /*#region Add Content */
    #Carousel2 {
        padding: 8px 59px 0px 54px;
    }

    .divTransactionEffect {
        margin-left: -29px;
    }

    #ddlTransactionEffect {
        margin-top: -65px;
        width: 126px;
    }
    /*#endregion End of Add Content */
    /*#endregion End of Presentation */

    /*#region Content */
    #ddlContentTransactionEffect {
    }
    /*#endregion End of Content */

}

@media all and (device-width:1440px) {
    /*#region Presentaiton */
    /* Add Scene */
    .divAddScene {
        margin-left: 7px;
    }

    .lblScene1 {
        margin-left: 4px;
    }

    #Carousel {
        padding: 0px 60px 0px 77px;
    }

    #Carousel1 {
        padding: 0px 16px 0px 75px;
    }

    /*#region Add Content */

    #Carousel2 {
        padding: 8px 42px 0px 54px;
    }

    /*.divTransactionEffect {
        margin-left: -29px;
    }

    #ddlTransactionEffect {
        margin-top: -65px;
        width: 126px;
    }*/
    /*#endregion End of Add Content */
    /*#endregion End of Presentation */


}
/* Slide for Presentation */
.slideContainer, .slideZoneContainer {
    width: 440px;
    position: relative;
    display: block;
    overflow: hidden;
}

/*.slideZoneContainer {
    position: relative;
    display: block;
    overflow: hidden;
    width: 440px;
}*/

.slideContentContainer {
    position: relative;
    display: block;
    overflow: hidden;
    width: 330px;
}

.main, .mainZone, .mainContent {
    width: 1000%;
    position: relative;
    display: inline-block;
    /*overflow: auto;*/
    height: 100px;
}

.block {
    width: 77px;
    height: 53px;
    position: relative;
    display: inline-block;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    cursor: pointer;
}

.btn-right {
    float: right;
    border-radius: 30px;
}

.active {
    /*border: 1px solid #000;*/
    /*// background-color: #fff;*/
    color: rgb( 0, 36, 106);
}

#btnAddScenePrev, #btnAddSceneNext, #btnAddZonePrev, #btnAddZoneNext, #btnAddContentPrev, #btnAddContentNext {
    border-radius: 30px;
}

.innerBlock {
    width: 75px;
    height: 50px;
    border: 1px solid #000;
}
/*For header select box*/
.select-style-header {
    padding-right: 15px;
}

.select-style {
    margin-top: 16%;
}

    .select-style > .form-control {
        height: auto;
        padding: 5px;
        border-radius: 5px;
        background-color: transparent;
    }

    .select-style > .btn-group > .form-control {
        padding: 5px 10px;
        border-radius: 5px;
    }

.list-cus-styled li {
    text-align: center;
    border: 1px solid #CECECE;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: move;
    margin-bottom: 20px;
}

.schedule_border .dhx_cal_header {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.SMSReportTbl {
    width: 100%;
}

.SMSReportTitle {
    font-size: 18px;
    font-weight: bold;
    height: 30px;
    background-color: #ffffff;
    padding-left: 10px;
    color: #000000;
    padding-top: 20px;
   
    
}

.SMSReportHeader {
    font-size: 16px;
    background-color: #001f67;
    border: 1px solid #ffffff;
    height: 40px;
    color: #ffffff;
    padding-left: 10px
}

    .SMSReportItem{
        font-size: 16px;
        background-color: #ffffff;
        height: 40px;
        color: #000000;
        border: 1px solid #3f3f3f;
        padding-left: 10px
    }


.SMSReportItemList {
    font-size: 14px;
    background-color: #ffffff;
    color: #000000;
    border: 1px solid #3f3f3f;
    padding-left: 5px;
    padding-right: 5px;
}




