/* fallback */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;     
  src: local('Material Icons'), local('MaterialIcons-Regular'), 
      url('../fonts/MaterialIcons-Regular.eot#iefix') format('embedded-opentype'),
      url('../fonts/MaterialIcons-Regular.woff2') format('woff2'); 
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    font-feature-settings: 'liga';
}
